.library_container
  .folder_directories
    .menu_directory
      = render :partial => 'menu_directory'

    .display_folders

  .library_content
    .header
      = link_to image_tag("libraries/logo.png"), library_path

      .search
        = form_tag search_library_path, :method => 'get', remote: true do
          = text_field_tag :keywords, params[:keywords], class: 'search-query', placeholder: "Busca por Nome..."
          = submit_tag "Search", :name => nil, class: 'btn'
          = link_to "Busca Avançada", "#"

    .vcom_container
      .advanced_search

      .vcom_details
        = render 'vcom_details'
        = will_paginate @vcoms, previous_label: h("← Anterior"), next_label: h("Próximo →"), class: 'apple_pagination'
  .footer



  / .add
  /   = simple_form_for Vcom.new, html: { multipart: true } do |f|
  /     = f.file_field :attachment
  / = raw create_vcom_tree(@vcoms.first.body)
  / #carousel_vcoms.carousel
  /   .carousel-inner
  /     .active.item
  /       = image_tag("http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg")
  /       .carousel-caption
  /         %h4 First Thumbnail label
  /         %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
  /     .item
  /       = image_tag("http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg")
  /       .carousel-caption
  /         %h4 First Thumbnail label
  /         %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
  /     .item
  /       = image_tag("http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg")
  /       .carousel-caption
  /         %h4 First Thumbnail label
  /         %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
  /
  /   = link_to raw("&lsaquo;"), "#carousel_vcoms", class: "carousel-control left", :"data-slide" => "prev"
  /   = link_to raw("&rsaquo;"), "#carousel_vcoms", class: "carousel-control right", :"data-slide" => "next"