.inherited-resource{id: "#{resource_class.model_name.element}-#{resource.id}", class: [resource_class.model_name.element, "#{action_name}-action"] }
  = render 'resource_links'

  %h2= (resource.respond_to?(:name) && resource.name) || resource.to_s

  = render 'details'
